@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: initial;
}
img {
  max-width: 100%;
}
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
select {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
body {
  font-family: "NanumSquare", Arial, sans-serif;
  color: #666;
  font-size: 15px;
  line-height: 1;
  font-weight: normal;
}
textarea {
  font-family: "NanumSquare", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}

blockquote {
  margin: 20px 0;
  padding-left: 25px;
  border-left: 5px solid #ee6e73;
}

.paraShowing {
  opacity: 0;
}

/* Grid System */

.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row .col {
  float: left;
  box-sizing: border-box;
  left: auto;
  right: auto;
}
.row .col.col-right {
  float: right;
  text-align: right;
}
.row .col.s1 {
  width: 8.3333333333%;
}
.row .col.s2 {
  width: 16.6666666666%;
}
.row .col.s3 {
  width: 25%;
}
.row .col.s4 {
  width: 33.3333333333%;
}
.row .col.s5 {
  width: 41.6666666666%;
}
.row .col.s6 {
  width: 50%;
}
.row .col.s7 {
  width: 58.3333333333%;
}
.row .col.s8 {
  width: 66.6666666666%;
}
.row .col.s9 {
  width: 75%;
}
.row .col.s10 {
  width: 83.3333333333%;
}
.row .col.s11 {
  width: 91.6666666666%;
}
.row .col.s12 {
  width: 100%;
}
.row .col[class*="push-"],
.row .col[class*="pull-"] {
  position: relative;
}
.row .col.push-s1 {
  left: 8.3333333333%;
}
.row .col.push-s2 {
  left: 16.6666666666%;
}
.row .col.push-s3 {
  left: 25%;
}
.row .col.push-s4 {
  left: 33.3333333333%;
}
.row .col.push-s5 {
  left: 41.6666666666%;
}
.row .col.push-s6 {
  left: 50%;
}
.row .col.push-s7 {
  left: 58.3333333333%;
}
.row .col.push-s8 {
  left: 66.6666666666%;
}
.row .col.push-s9 {
  left: 75%;
}
.row .col.push-s10 {
  left: 83.3333333333%;
}
.row .col.push-s11 {
  left: 91.6666666666%;
}
.row .col.pull-s1 {
  right: 8.3333333333%;
}
.row .col.pull-s2 {
  right: 16.6666666666%;
}
.row .col.pull-s3 {
  right: 25%;
}
.row .col.pull-s4 {
  right: 33.3333333333%;
}
.row .col.pull-s5 {
  right: 41.6666666666%;
}
.row .col.pull-s6 {
  right: 50%;
}
.row .col.pull-s7 {
  right: 58.3333333333%;
}
.row .col.pull-s8 {
  right: 66.6666666666%;
}
.row .col.pull-s9 {
  right: 75%;
}
.row .col.pull-s10 {
  right: 83.3333333333%;
}
.row .col.pull-s11 {
  right: 91.6666666666%;
}

/* Buttons */
a.btn {
  display: inline-block;
}
.btn {
  width: auto;
  min-width: 45px;
  height: 45px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 45px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #273246;
  color: #273246;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: background-color 0.2s ease-in-out,
    -webkit-transform 0.3s ease-out;
  -moz-transition: background 0.2s ease-in-out, -moz-transform 0.3s ease-out;
  -ms-transition: background 0.2s ease-in-out, -ms-transform 0.3s ease-out;
  -o-transition: background 0.2s ease-in-out, -o-transform 0.3s ease-out;
  transition: background 0.2s ease-in-out, transform 0.3s ease-out;
  font-weight: bold;
  margin: 0;
}
/* .btn:before { display: inline-block; content: ''; height: 100%; vertical-align: middle; position: static; } */
.btn > img {
  vertical-align: middle;
  display: inline-block;
}
.btn.small {
  height: 25px;
  font-size: 13px;
  line-height: 25px;
}
.btn.large {
  height: 65px;
  line-height: 65px;
}
.btn.disabled {
  pointer-events: none;
  background-color: #dfdfdf !important;
  box-shadow: none;
  color: #9f9f9f !important;
  cursor: default;
}
.btn.radius {
  border-radius: 0.25em;
}
.btn.radius20 {
  border-radius: 20px;
}
.btn.radius20.large {
  border-radius: 40px;
}
.btn.radius20.small {
  border-radius: 60px;
}
.btn.floating {
  padding: 0;
  width: 40px;
  height: 40px;
  min-width: inherit;
  max-width: inherit;
  line-height: 40px;
  border-radius: 50%;
  font-size: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.btn.floating.large {
  width: 65px;
  height: 65px;
  line-height: 65px;
}
.btn.floating.small {
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.btn.floating.trans {
  width: 35px;
  height: 35px;
  line-height: 35px;
  box-shadow: inherit;
}
.btn.trans {
  border: 1px solid transparent;
  background-color: transparent;
}
.btn.blue {
  border: 1px solid #6b90d4;
  color: #fff;
  background-color: #6b90d4;
}
.btn.blue_trans {
  border: 1px solid #6b90d4;
  color: #6b90d4;
  background-color: transparent;
}
.btn.black {
  border: 1px solid #131313;
  color: #fafafa;
  background-color: #1a1a19;
}
.btn.red {
  border: 1px solid #f96b5f;
  color: #fff;
  background-color: #f96b5f;
}
.btn.red_trans {
  border: 1px solid #f96b5f;
  color: #f96b5f;
  background-color: transparent;
}
.btn.white_trans {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.btn.green {
  border: 1px solid #5dd6b7;
  color: #fff;
  background-color: #5dd6b7;
}

.ico_zoom_black {
  background-color: #000;
  background: url(/pit/search.png) center no-repeat;
  width: 20px;
  height: 20px;
}

.btn.orange {
  border: 1px solid #f29700;
  color: #333;
  background-color: #f29700;
}

.btn.gray {
  border: 1px solid #5b5b5b;
  color: #fff;
  background-color: #5b5b5b;
}
.btn.gray2 {
  border: 1px solid #7d7d7d;
  color: #fff;
  background-color: #7d7d7d;
}
.btn_group {
  position: relative;
  vertical-align: middle;
  margin-top: 25px;
}
.btn_group.center {
  text-align: center;
}
.btn_group.right {
  text-align: right;
}

.btn.mo_effect {
  padding-left: 5px;
  width: 35px;
  height: 35px;
  min-width: inherit;
  max-width: inherit;
  line-height: 35px;
  border-radius: 20px;
  text-align: left;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn.mo_effect:hover {
  padding: 0 12px;
  width: 100px;
}

/* Forms */
.ipt {
  border: 1px solid #b8b8b8;
  color: #666;
  padding: 5px;
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.15);
}
textarea.ipt {
  height: auto;
  line-height: 20px !important;
}
.ipt.w100p {
  width: 100%;
}
.ipt_group {
  margin-bottom: 5px;
  position: relative;
  display: table;
  width: 100%;
}
.ipt_group .ipt {
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
}
.ipt_left,
.ipt_right {
  display: table-cell;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
}
// .ipt_right { padding-left: 8px; }
.ipt_right.addon {
  padding-left: 0;
}
.ipt_right > .btn {
  height: 45px;
  line-height: 45px;
}
.ipt_left {
  padding-right: 8px;
}
.ipt_left.addon {
  padding-right: 0;
}
.ipt.black {
  border-color: #1a1a1a;
  color: #fff;
  background-color: #1a1a1a;
}
.ipt.gray {
  border-color: transparent;
  background-color: #d0d0d0;
}
.datepicker {
  position: relative;
  display: inline-block;
}
.datepicker .ico {
  position: absolute;
  top: 0;
  right: 0;
}

/* Select */
select {
  background-color: rgba(255, 255, 255, 0.15);
  min-width: 55px;
  padding: 5px;
  color: #505050;
  border: 1px solid #b8b8b8;
  height: 45px;
  box-sizing: border-box;
  vertical-align: middle;
  font-weight: bold;
}
select.black_trans {
  border: 1px solid #151515;
  color: #000;
}
select.gray {
  border-color: transparent;
  background-color: #d0d0d0;
}

/* Pagination */
.pagination {
  padding: 25px 0;
  margin-top: 0px;
  text-align: center;
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  font-size: 15px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  color: #989898;
  border: 1px solid #989898;
  text-align: center;
  display: inline-block;
  margin: 0 2.5px;
  box-sizing: border-box;
  font-weight: bold;
}
.pagination ul > li.prev {
  margin-right: 20px;
}
.pagination ul > li.next {
  margin-left: 20px;
}
.pagination ul > li.prev a {
  background: url(../images/ico/ico_paging_prev.png) center no-repeat;
  text-indent: -9999px;
}
.pagination ul > li.next a {
  background: url(../images/ico/ico_paging_next.png) center no-repeat;
  text-indent: -9999px;
}
.pagination ul > li.prevpage a {
  background: url(../images/ico/ico_paging_prevpage.png) center no-repeat;
  text-indent: -9999px;
}
.pagination ul > li.nextpage a {
  background: url(../images/ico//ico_paging_nextpage.png) center no-repeat;
  text-indent: -9999px;
}
.pagination ul > li.active > a,
.pagination ul > li > span {
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
.pagination .mobile {
  text-align: right;
  display: none;
}
.pagination .mobile span {
  text-align: center;
  padding-right: 15px;
  vertical-align: middle;
  color: #989898;
}
.pagination .mobile .btn {
  vertical-align: middle;
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid #989898;
  box-sizing: border-box;
  text-indent: -9999px;
  text-align: center;
  padding: 0;
  min-width: inherit;
}
.pagination .mobile .prev {
  background: url("../images/ico/ico_paging_prev.png") center no-repeat;
}
.pagination .mobile .next {
  background: url("../images/ico/ico_paging_next.png") center no-repeat;
}
.pagination .mobile .now_page {
  padding: 0 10px;
}
.pagination .mobile .select_page {
  min-width: 80px;
  width: 80px;
  height: 45px;
  line-height: 45px;
  text-align: left;
  color: #989898;
}

.pagination.black ul > li > a,
.pagination.black ul > li > span {
  color: #fff;
  border: 1px solid #080808;
}
.pagination.black ul > li.active > a,
.pagination.black ul > li > span {
  color: #e6950c;
  border: 1px solid #6f4807;
}

/* Tables */
.table {
  border-top: 1px solid #acacac;
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tbody > tr > td {
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
  vertical-align: middle;
  height: 75px;
  box-sizing: border-box;
  font-weight: bold;
}
.table > thead > tr > th {
  border-bottom: 1px solid #acacac;
}
.table > tbody > tr > th {
  width: 195px;
  background-color: #ddd;
  background-color: rgba(221, 221, 221, 0.5);
}
.table > tbody > tr > td.left {
  text-align: left;
}
.table > tbody > tr > td a {
  color: inherit;
  line-height: 22px;
}
.table > tbody > tr > td a:hover {
  text-decoration: underline;
}
.table > tbody > tr > td .ico.lock {
  height: auto;
  margin-left: 10px;
  vertical-align: middle;
}
.table-hover > tbody > tr:hover {
  background-color: #f0f4f6;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.popupclass img {
  width: 100% !important;
}
@media screen and (max-width: 1023px) {
  .row .col.t1 {
    width: 8.3333333333%;
  }
  .row .col.t2 {
    width: 16.6666666666%;
  }
  .row .col.t3 {
    width: 25%;
  }
  .row .col.t4 {
    width: 33.3333333333%;
  }
  .row .col.t5 {
    width: 41.6666666666%;
  }
  .row .col.t6 {
    width: 50%;
  }
  .row .col.t7 {
    width: 58.3333333333%;
  }
  .row .col.t8 {
    width: 66.6666666666%;
  }
  .row .col.t9 {
    width: 75%;
  }
  .row .col.t10 {
    width: 83.3333333333%;
  }
  .row .col.t11 {
    width: 91.6666666666%;
  }
  .row .col.t12 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .row .col.m1 {
    width: 8.3333333333%;
  }
  .row .col.m2 {
    width: 16.6666666666%;
  }
  .row .col.m3 {
    width: 25%;
  }
  .row .col.m4 {
    width: 33.3333333333%;
  }
  .row .col.m5 {
    width: 41.6666666666%;
  }
  .row .col.m6 {
    width: 50%;
  }
  .row .col.m7 {
    width: 58.3333333333%;
  }
  .row .col.m8 {
    width: 66.6666666666%;
  }
  .row .col.m9 {
    width: 75%;
  }
  .row .col.m10 {
    width: 83.3333333333%;
  }
  .row .col.m11 {
    width: 91.6666666666%;
  }
  .row .col.m12 {
    width: 100%;
  }

  .pagination .pc {
    display: none;
  }
  .pagination .mobile {
    display: block;
  }
}
